{% extends "base.html" %}
{% block content  %}

<body>
	<h1>Welcome {{name}}, here are top destinations! </h1>
	<a href="https://google.com">goooogle</a>
	<ul>
	{% for city in top_cities: %}	
	<li>{{ city }}</li>
	{% endfor %}
	</ul>
	<form method="POST" novalidate>
		{{ form.hidden_tag()}}

		<p> {{form.cname.label}}
		{{ form.cname(size=32) }}</p>

		<p> {{ form.rank.label }}
		{{ form.rank(size=32) }}</p>
		
		<p> {{ form.visited.label }}
		{{ form.visited() }}</p>

		<p> {{ form.submit() }}</p>
	</form>
</body>
{% endblock %}
